<template name="help">
    <div class="container">
        <h1 class="text-center">
            Welcome to The Farnam Exchange
        </h1>
        <br/>
        <br/>
        <br/>
        <h3 class="muted text-center">
            This site is dedicated to helping Farnam residents procure furniture for their suites and rooms.
            <br/>
            <br/>
            Created out of necessity due to the absence of overhead lighting in Farnam, The Farnam Exchange brings
            upperclassmen, who now have no use for overhead lights, together with underclassmen, who need them badly.
        </h3>
        <br/>
        <br/>
        <p class="text-center">
            If the site's functionality is unclear, you've come to the right spot!
            <br/>
            By simply creating an account (using your yale email), you can seamlessly display items that you are looking
            to trade. If you see something you're interested in, click on the name to send the account holder an email.
            Make sure to remove items when they are no longer on the market!
        </p>
    </div>
</template>
