<template name="postSubmit">
    <form class="main">
        <div class="control-group">
            <label class="control-label" for="url">Suite</label>
            <div class="controls">
                <input name="url" type="text" value="" placeholder="Your Suite"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="have">I have: </label>
            <div class="controls">
                <input name="have" type="text" value="" placeholder="[item you have]"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="want">I want: </label>
            <div class="controls">
                <input name="want" type="text" value="" placeholder="[item you want]"/>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</template>
